@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "space Mono", monospace;
  font-size: 18px;
  color: white;
}

body {
  background-color: #111827;
}

/*------------------- Header section -------------------- */
navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 200px;
  position: fixed;
  border-top: 1px solid aquamarine;
  border-bottom: 1px solid aquamarine;
  background-color: #1e2a44;
  width: 100%;
  top: 0;
  z-index: 100;
}

navbar img {
  width: 52px;
  padding: 0;
  margin: 0;
}

navbar a {
  text-decoration: none;
  margin-right: 20px;
}

navbar a:hover {
  color: aquamarine;
  text-shadow: 0 0 10px lightgray;
  transition: ease-in;
  transition-duration: 0.2s;
}

.container {
  margin: 0 auto;
  padding: 40px;
  width: 80rem;
  margin-top: 140px;
}

/*------------------- About me section -------------------- */

.my-name {
  text-align: center;
}

.my-name h1 {
  font-size: 2.5rem;
}

.my-name h2 {
  font-size: 1.8rem;
}

.my-name span {
  color: aquamarine;
  font-size: 2.5rem;
}

.my-name p {
  font-style: italic;
  margin: 20px 0;
}

.about {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 10px 0;
}

.about-txt {
  text-align: left;
  width: 40rem;
}

.about-txt h1 {
  color: aquamarine;
  font-size: 1.5rem;
  text-shadow: 0 0 10px lightgray;
}

.about-txt p {
  margin-top: 10px;
}

.profile-pic {
  width: 300px;
}

/*------------------- Skills section -------------------- */
.skills-header h1 {
  font-size: 1.5rem;
  color: aquamarine;
  text-shadow: 0 0 10px lightgray;
  margin: 0 auto;
}

.skills {
  display: flex;
  justify-content: center;
  background-color: rgb(86, 99, 112);
  padding: 100px 0;
  margin-top: -100px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.skills img {
  width: 200px;
  border: 2px solid aquamarine;
  padding: 15px 50px;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 5px 5px 5px black;
}

/*------------------- Project section -------------------- */
.layout {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.layout div p {
  width: 300px;
  text-align: left;
  margin-bottom: 10px;
}

.layout img {
  margin-bottom: 30px;
}

.box-container {
  padding: 25px;
  box-shadow: 0 0 5px black;
  border-radius: 8px;
}

.projects > h1 {
  text-shadow: 0 0 10px lightgray;
}

.projects h1 {
  font-size: 1.5rem;
  color: aquamarine;
  margin-bottom: 10px;
  margin-top: -15px;
}

.project-images p {
  width: 500px;
  margin-bottom: 10px;
  padding: 0;
  font-size: 16px;
}

.projects img {
  width: 300px;
  height: 170px;
  border-radius: 8px;
  transform: scale(1);
  transition: 0.3s;
}

.projects img:hover {
  transform: scale(0.96);
  transition: 0.3s;
}

.buttons {
  padding: 0 15px;
  border: 2px solid aquamarine;
  color: black;
  border-radius: 10px;
  font-size: 0.9rem;
  text-decoration: none;
  background-color: white;
}

.buttons:hover {
  background-color: #111827;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 5px lightgray;
}

/*------------------- Contact section -------------------- */
.contact {
  text-align: center;
  background-color: #1e2a44;
  padding: 10px 0;
}

.contact div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.contact h1 {
  font-size: 1.5rem;
  color: aquamarine;
  text-shadow: 0 0 10px lightgray;
  margin-bottom: 10px;
  margin-top: 80px;
}

.contact img {
  width: 70%;
}

.contact p {
  margin: 0;
}

/* Scroll Fade In Effect */
.scrollFade {
  opacity: 1;
  pointer-events: all;
}

.scrollFade--hidden {
  opacity: 0;
  pointer-events: none;
}

.scrollFade--visible {
  opacity: 1;
  pointer-events: all;
}

.scrollFade--animate {
  transition: opacity 0.9s;
}
